{{ template "page_header.html" }}
<h1>New Poll</h1>
<div>
  <form action="/polls/{{ .PollId }}/" method="POST">
    <div class="row">
      <label for="poll-name">Name</label>
    </div>
    <div class="row">
      <div class="six columns">
        <input id="poll-name" name="Name" class="u-full-width" value="{{ .Name }}" />
      </div>
    </div>
    <h3>Poll Options</h3>
    {{ range $i, $_ := .Options }}
    {{ $index := plus $i 1 }}
    <div class="row">
      <div class="one column">
        <label for="option-{{ $index }}">{{ $index }}.</label>
      </div>
      <div class="ten columns">
        <input id="option-{{ $index }}" name="Options[]" class="u-full-width" value="{{ . }}" />
      </div>
      <div class="one column">
        <button>X</button>
      </div>
    </div>
    {{ end }}
    <div class="row">
      <button>Add option</button>
    </div>
    <div class="row">
      <button action="submit">Save</button>
    </div>
  </form>
</div>
{{ template "page_footer.html" }}