{{ template "page_header.html" }}
<h1>Edit Poll</h1>
<div>
  <form action="/polls/{{ .PollId }}/" method="POST">
    <div class="row">
      <label for="poll-name">Name</label>
    </div>
    <div class="row">
      <div class="six columns">
        <input id="poll-name" name="Name" class="u-full-width" value="{{ .Name }}" />
      </div>
    </div>
    <h3>Poll Options</h3>
    <div id="poll-options">
      {{ template "edit_poll_options.html" . }}
    </div>
    <div class="row">
      <button hx-patch="/polls/options/" hx-target="#poll-options" name="Add" value="true">
        Add option
      </button>
    </div>
    <div class="row">
      <button action="submit">Save</button>
      <a href="/polls/{{ .PollId }}" class="button">Cancel</a>
    </div>
  </form>
</div>
{{ template "page_footer.html" }}