{{ if .RenderFullPage }}
{{ template "page_header.html" }}
{{ end }}
<div id="page" {{ if .PollForUpdate }}hx-get="/polls/{{ .PollId }}" hx-swap="outerHTML" hx-trigger="every 1s" {{
  end }}>
  <h1>{{ .PollName }}</h1>
  <div class="row">
    <div class="twelve columns">
      <strong>Status:</strong> {{ .StatusLabel }}
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <strong>Poll type:</strong> {{ .AggregationTypeLabel }}
    </div>
  </div>
  {{ template "options.html" .OptionsModel }}
  {{ template "navigation.html" .NavigationModel }}
</div>
{{ if .RenderFullPage }}
{{ template "page_footer.html" }}
{{ end }}