.topbar {
  height: 60px;
  border-bottom: 1px solid #888888;
  box-shadow: 0px 1px 2px #cccccc;
}

.topbar > * {
  float: right;
  margin-top: 17px;
  margin-right: 30px;
}

.topbar > .button {
  margin-top: 10px;
}

.container {
  margin-top: 30px;
}

.row.normal-spacing {
  margin-top: 15px;
}

.column a.button:not(:first-child),
.columns a.button:not(:first-child),
.column button:not(:first-child),
.columns button:not(:first-child) {
  margin-left: 10px;
}

.error {
  color: red;
}

.error-alert {
  background: #dd0000;
  color: white;
  padding: 10px 30px;
  border-radius: 3px;
}