{{ template "page_header.html" }}
{{ if .MayVote }}
{{ $voted := .Voted }}
<h1>{{ .Poll.Name }}</h1>
<form method="post">
  <div class="row">
    <ol>
      {{ range $i, $_ := .Poll.Options }}
      {{ $index := plus $i 1 }}
      <li>
        <label style="display: inline;">
          {{ . }}
          <input type="radio" name="Option" value="{{ $i }}" {{ if eq $i $voted }} checked {{ end }} {{ if ne $voted -1
            }} disabled {{ end }} />
        </label>
      </li>
      {{ end }}
    </ol>
  </div>
  <div class="row">
    {{ if eq .Voted -1 }}
    <button action="submit">Cast vote</button>
    {{ end }}
    <a href="/" class="u-pull-right">Home</a>
  </div>
</form>
{{ template "page_footer.html" }}
{{ else }}
<h3 class="error">Voting on this poll is not open</h3>
<div class="row">
  <div class="twelve columns">
    <a href="/polls/{{ .Poll.PollId }}">Return</a>
    <a href="/" class="u-pull-right">Home</a>
  </div>
</div>
{{ end }}