{{ template "page_header.html" }}
{{ if .MayVote }}
<h1>{{ .Poll.Name }}</h1>
<form method="post">
  {{ if eq .Poll.AggregationType "fptp" }}
  {{ template "fptp.html" . }}
  {{ else if eq .Poll.AggregationType "rankedchoice" }}
  {{ template "rankedchoice.html" . }}
  {{ end }}
  <div class="row">
    {{ if eq .Voted -1 }}
    <button action="submit">Cast vote</button>
    {{ end }}
    <a href="/" class="u-pull-right">Home</a>
  </div>
</form>
{{ template "page_footer.html" }}
{{ else }}
<h3 class="error">Voting on this poll is not open</h3>
<div class="row">
  <div class="twelve columns">
    <a href="/polls/{{ .Poll.PollId }}">Return</a>
    <a href="/" class="u-pull-right">Home</a>
  </div>
</div>
{{ end }}