<div id="ranked-choice-votes">
  {{ $poll_id := .Poll.PollId }}
  <div class="row">
    <div class="twelve columns">
      <h3>Selected options</h3>
    </div>
  </div>
  {{ range $i := .Rco.Selected }}
  <div class="row">
    <div class="twelve columns">
      {{ .Option }}
      <input type="hidden" name="Selected[{{ $i }}]" value="{{ .Index }}" />
      <button class="u-pull-right" hx-patch="/polls/{{ $poll_id }}/vote/rankedchoice/" hx-target="#ranked-choice-votes"
        hx-swap="outerHTML" name="Remove" value="{{ .Index }}">
        Remove
      </button>
    </div>
  </div>
  {{ end }}
  <div class="row">
    <div class="twelve columns">
      <h3>Remaining options</h3>
    </div>
  </div>
  {{ range .Rco.Unselected }}
  <div class="row">
    <div class="twelve columns">
      {{ .Option }}
      <button class="u-pull-right" hx-patch="/polls/{{ $poll_id }}/vote/rankedchoice/" hx-target="#ranked-choice-votes"
        hx-swap="outerHTML" name="Select" value="{{ .Index }}">
        Select
      </button>
    </div>
  </div>
  {{ end }}
</div>