{{ $poll_id := .PollId }}
{{ range $i, $_ := .Options }}
{{ $index := plus $i 1 }}
<div class="row">
  <div class="one column">
    <label for="option-{{ $index }}">{{ $index }}.</label>
  </div>
  <div class="ten columns">
    <input id="option-{{ $index }}" name="Options[]" class="u-full-width" value="{{ . }}" />
  </div>
  <div class="one column">
    <button hx-patch="/polls/{{ $poll_id }}/options/" hx-target="#poll-options" name="Remove"
      value="{{ $i }}">X</button>
  </div>
</div>
{{ end }}